{% extends "gallery/header.html" %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'gallery/css/train.css' %}">
<!-- Modal -->
<div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="modalRemoveLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Successful</h5>
        <button onclick="javascript:window.location='/train/'" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Image is successfully removed.
      </div>
      <div class="modal-footer">
        <button onclick="javascript:window.location='/train/'" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<h5 class="text-danger"> <b> *** Minimum of 10 images per class to retrain. <br/> *** Click (x) to remove  </b> </h5>
    {% for x , y in obj.items %}
    <div class = 'holder'>
        <p> <span id='cname' data-sid="{{x}}"> Class Name: <b> {{ x }} </b> </span> - Number of Images: <span id='count'> <em> {{ y|length}} </em> </span></p>
         {% for z in y %}
            <div class="img-wrap">
            <span class="close">&times;</span>
            <img src="/media/training/{{x}}/{{z}}" class="imgs" data-id="{{z}}" width="80px" height="80px" onerror="this.style.display='none'">
            </div>
         {% endfor %}
         {% if y|length >= 5 %}
            <button type="button" class="btn btn-primary" onclick="train"> Train </button>
         {% else %}
            <button type="button" class="btn btn-warning" disabled> Train </button>
         {% endif %}
    {% endfor %}
    </div>
<script src="{% static 'gallery/js/train.js' %}"></script>
{% endblock %}
