<!-- templates/registration/login.html -->
{% extends "gallery/header.html" %}

{% block title %}Login{% endblock %}

{% block content %}
</div>  
<br/><br/>
<div class="container">
    <div class="row well">
		<div class="span12" style="text-align: center"><br/>
			<form class="form-horizontal" method="POST">
			  <fieldset>
			    <div class="control-group">
			      	{% csrf_token %}
  					{{ form.as_p }}
			    </div>
			    <div class="control-group"> <br/>
			      <!-- Button -->
			      <div class="controls">
			        <button class="btn btn-lg btn-primary" type="submit"> Sign In </button>
			      </div>
			    </div>
			  </fieldset>
			</form>
		</div>
	</div>
</div>
<style>
    label {display: block; }
	.footer {
	    position: fixed;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    height: 4%;
	    background-color: #ff6f69;
	    color: white;
	    text-align: center;
	}
</style>
<footer id="footer" class="footer ">
    <div class="footer-copyright text-center py-3"> <h6> © 2018 Copyright. Alliance Software Inc.</h6> </div>
</footer>
{% endblock %}